name: Test

on: 
  push:
  workflow_dispatch:

jobs:
  MyRun:
    runs-on: ubuntu-latest

    continue-on-error: true
    
    steps:
      - name: Step One
        run: curl --fail -o dates.csv https://doesnotexist.com/dates.csv
      - name: Step Two
        run: date >> dates.csv
  Test2:
    runs-on: ubuntu-latest
    steps:
      - name: Search for existing release-failure issue
        id: find-issues
        uses: actions-cool/issues-helper@v3
        with:
          actions: "find-issues"
          issue-state: "all"
      - run: |
          echo ${{ steps.set.outputs.issues }}
          echo ${{ fromJSON(steps.find-issues.outputs.issues) }}
          echo ${{ fromJSON(steps.find-issues.outputs.issues)[0].number }}
