name: Test

on: 
  push:
  workflow_dispatch:

jobs:
  Test2:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.publish.outcome }}
    steps:
      - id: publish
        if: false
        run: |
          echo 1
  Test3:
    runs-on: ubuntu-latest
    needs: Test2
    steps:
      - run: |
          echo ${{ needs.Test2.outputs.result }}
