name: Test

on: [push, workflow_dispatch]

jobs:
  MyRun:
    runs-on: ubuntu-latest

    continue-on-error: true
    
    steps:
      - name: Step One
        run: curl --fail -o dates.csv https://doesnotexist.com/dates.csv
      - name: Step Two
        run: date >> dates.csv
  Test2:
    runs-on: ubuntu-latest
    steps:
      - name: Step Two
        run: echo 2
