name: Test
on:
  push

jobs:
  test:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install .NET SDKs
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9

    - run: |
        dotnet publish -c Release
        cd bin/Release/net9.0/osx-x64/publish
        ls
        ./ConsoleApp5
